#choropleth_map {

}


body *{
	font-family: 'Open Sans', sans-serif;
  }
  
  h1 {
	font-weight: 900;
  }
  
  body {
	background-color: rgb(93, 90, 87);
  }
  
  .page {
	width: 1200px;
	background-color: #f7f7f7;
	margin: auto;
	border-left: 20px;
  border-right: 20px;
  border-top: 20px;
  border-bottom: 80px;
  border-style: solid;
  border-color:#2d204b;
  border-radius: 25px;
  text-align: justify;
  text-justify: inter-word;
  }
  
  .page-content {
    padding-right: 20px;
    padding-left: 30px;
	  padding-top: 35px;
    justify-content: center;
  }
  .vis-container {
	width: 100%;
  }

  .color-box {
   border-radius: 10px;
    width: 95%; 
    height: 90%; 
    margin-left: 5px;
    padding: 10px;
    
    
    background-image: linear-gradient( #e05d4c,#bf524c);
    color: #f7f7f7;
    text-align: center;
  }
  
  .happiness-indicator-section {
      text-align:center; 
      padding-top: 20px;
      display: block;
      padding-bottom: 10px;
  }

  .color-circle{
    border-radius: 50%;
    background-image: linear-gradient( #e05d4c,#652374);
    width: 110px; 
    height: 110px; 
    padding: 25px;
    text-align: center;
    line-height: 110px;
    vertical-align: middle;
    color: #f7f7f7;
    display: inline-block;
    font-size: x-large;
    font-weight: 900;
  }

  .color-circle-description {
    margin-left: 10px;
  }
  .happiness-indicator {
    padding: 20px;
  }
  .website-img-banner {
    width: 100%; 
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
  }

  .description h2,
  h1 {
	margin-top: 0px;
  }
  
  .description-right {
	padding-left: 20px;
  }
  
  .description-left {
	padding-right: 20px;
  }
  
  .pure-g {
	margin: 10px;
  }
  
  .small-font {
	font-size: 14px;
  }

  .map_container {
    display: block;
    margin: auto;
    width: 100%;
  }
